@import ../../../assets/styles/globals

.controls
    position: relative
    margin: -20px 10% 20px 80px
    height: 170px

    .city-pick
        display: inline-block
        vertical-align: top

    .user-card
        position: absolute
        right: 0
        display: inline-grid
        grid-template-columns: 2fr 1fr
        grid-template-rows: 1fr 1fr 1fr
        align-items: center
        &__name
            grid-column: 1
            grid-row: 1

        &__avatar
            background: $main
            grid-row: 1
            grid-column: 2
            margin-left: 20px

        &__info
            margin-top: 20px
            overflow: hidden
            overflow-wrap: break-word

            grid-row: 2 / 3
            grid-column: 1 / 2

.main-content
    margin: 20px
    display: grid
    grid-template-columns: 6fr 2fr 4fr
    grid-template-rows: 2fr 2f 40px
    grid-gap: 5px
    height: 60vh
    align-items: center
    justify-content: center
    justify-items: center

    &__map
        font-size: 160px
        font-weight: 700
        grid-column: 1
        grid-row: 1 / 4

    &__filter
        grid-column: 2
        margin-top: -200px
        grid-row: 1 / 2

    &__recomendation
        grid-column: 3
        grid-row: 1 / 2

    .user-controls
        grid-column: 1
        grid-row: 3
        display: flex
        .time, .range
            width: 140px
            input
                font-size: 32px
    .main-button
        grid-column: 2
        grid-row: 3
        height: 100px
        width: 300px
        font-size: 60px
        font-weight: 300
