.button
    border-radius: 22px
    vertical-align: middle
    border: 1px solid $main-light
    width: 220px
    cursor: pointer
    text-align: center
    .button__text
        margin-inline-start: 1em
        margin-inline-end: 1em