@import ../../assets/styles/globals

.footer
    height: 80px
    color: $secondary
    background: $primary
    display: flex
    align-items: center
    justify-content: center
    &__name
        font-weight: 700
        font-size: 24px
        letter-spacing: 5px