@import ../../../assets/styles/globals

$width: 40px
$height: 20px

.switch-wrap
  cursor: pointer
  input
    position: absolute
    opacity: 0
    width: 0
    height: 0

.switch
  width: $width
  height: $height
  display: inline-grid
  grid-template-columns: 0 1fr 1fr
  align-items: center
  border-radius: 10px
  border: 1px solid $main-light
  &-text
    margin-left: 8px
    color: $main-light
  &::after
    content: ''
    width: 12px
    height: 12px
    border-radius: 50%
    margin: 4px
    background: $main-light
    grid-column: 2
    transition: .3s ease

input:checked
  ~ .switch-text
    color: $dark
  + .switch
    border: 1px solid $primary

    &::after
      background: $primary
      margin-left: $width - 15px
